.foodmain
{
  position: fixed;
  top: 100px;
  left:  420px;
  width: 580px;
  height: 500px;
}

body
{
  background-color: #9E768F;
}

.header{

   position: fixed;
   color: white;
   left: 580px;
   font-family: 'Courier New', Courier, monospace;
}

.recipes{
  
  position: fixed;
  top: 700px;
  left: 630px;
  color: white;
   font-family: 'Courier New', Courier, monospace;
}