/* This styles the main header */
h1{

   position: absolute;
   right: 620px;
   top: 50px;
   color: #8D7B68;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 70px;
   border-radius: 10px;
   border-style: solid;
   background-color: #F1DEC9;
   padding-left: 10px;
   padding-right: 10px;

}

/* This styles the rectangle behind the recipes */
#rectangle{

  width: 1300px;
  height: 650px;
  position: absolute;
  top: 170px;
  right:  80px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #8D7B68;
  background-color: #C8B6A6;
}

/* This is the image for the chocolate recipe */
.choco
{
   height: 300px;
   width: 340px;
   top: 250px;
   left: 130px;
   position: absolute;
   border-radius: 10px;
   border-style: solid;
   border-color: #8D7B68;
   
}

/* This is the header for the chocolate recipe */
h2{
  position: absolute;
  top: 600px;
  left: 175px;
  background-color: #F1DEC9;
  border-radius: 10px;
  color: #8D7B68;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  border-style: solid;
  border-color: #8D7B68;
  padding-left: 10px;
  padding-right: 10px; 
}

/* This is the image for the sandwich recipe */
.bread
{
   height: 300px;
   width: 340px;
   top: 250px;
   right: 130px;
   position: absolute;
   border-radius: 10px;
   border-style: solid;
   border-color: #8D7B68;
}

/* This is the header for the sandwich recipe */
h3{
  position: absolute;
  top: 600px;
  right: 190px;
  background-color: #F1DEC9;
  border-radius: 10px;
  color: #8D7B68;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  border-style: solid;
  border-color: #8D7B68;
  padding-left: 10px;
  padding-right: 10px; 
}

/* This is the header for the cornflakes recipe */
h4{
  position: absolute;
  top: 600px;
  right: 605px;
  background-color: #F1DEC9;
  border-radius: 10px;
  color: #8D7B68;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  border-style: solid;
  border-color: #8D7B68;
  padding-left: 10px;
  padding-right: 10px; 
}

/* This is the image for the cornflakes recipe */
.corn
{
   height: 300px;
   width: 340px;
   top: 250px;
   right: 560px;
   position: absolute;
   border-radius: 10px;
   border-style: solid;
   border-color: #8D7B68;
}

/* This is a fun fact for the chocolate recipe */
.chocofacts{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: whitesmoke;
  position: absolute;
  top: 720px;
  left: 130px;
  font-style: italic;
}

/* This is a fun fact for the cornflake recipe */
.cornfacts{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: whitesmoke;
  position: absolute;
  top: 720px;
  left: 595px;
  font-style: italic;
}

/* THis is a fun fact for the sandwich recipe */
.breadfacts{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: whitesmoke;
  position: absolute;
  top: 720px;
  right: 170px;
  font-style: italic;
}

/* This is for styling the menu container of the signup and about buttons */
.menu-container {
  color: #8d7b68;
  
  padding: px;
}

/* Displays flex and edits the height and radius of the container*/
.menu-container {
  display: flex;
  position: absolute;
  width: 440px;
  height: 70px;
  justify-content: center;
  justify-content: space-between;
  right: 0px
  
    
}

/* Styles the actual signup and about button*/

.menu-container div {
  border: 1px solid #8d7b68;  /* For debugging */
  width: 48%;
  display: flex;
  padding-left: 70px;
  padding-top: 20px;
  border-radius: 10px;
  border: 3px solid;
  background-color: #f1dec9;
  font-size: 20px;

}
/* Universal margin */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


/* For moving everything except the nav buttons */
.everything {
  position: relative;
  top: 40px;
}

/* Styles nav bar */
.navbar {
  position: absolute;
  background-color: rgb(42, 26, 2);
  width: 100px;
  height: 200px;
  top: 10px;

}